{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="icon" href="/static/images/icons8-image-48.png">
</head>
<style>
    video#remoteVideo {
        border: 1px solid #2196F3;
        width: 100%;
        width: 318px;

    }
    
    video#localVideo {
        border: 1px solid red;
        width: 100%;
        width: 318px;

    }
    .videos {
        
        border: 1px solid;
            display: flex
        ;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
         }
    
</style>
<body>
    <h1>WebRTC Signaling Demo  <span style="color: red;">{{request.user.username}}</span> </h1>
    <!-- Video elements for local and remote streams -->
     <div class="videos">
         <video id="localVideo" autoplay playsinline muted></video>
         <video id="remoteVideo" autoplay playsinline></video>
     </div>
    <br>
    <button id="startCallButton">Start Call</button>
    


    {{ receiverID|json_script:"receiverID" }}

    
    <script>
        const currentCallingUser = "{{request.user.username}}"
        const currentReceivingUser = "{{user.username}}"

    </script>
    <script src="{% static "/js/record.js" %}">
    </script>

</body>
</html>