{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="icon" href="/static/images/icons8-image-48.png">
</head>
<body>
   <h1>WebRTC Signaling Demo</h1>
  <!-- Video elements for local and remote streams -->
  <video id="localVideo" autoplay playsinline muted></video>
  <video id="remoteVideo" autoplay playsinline></video>
  <br>
  <button id="startCallButton">Start Call</button>
  
  <script src="{% static "/js/record.js" %}"></script>
</body>
</html>